.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  background-color: #D2E1EE;
}

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/*items*/

.ItemListContainer{
  padding-top: 1rem;
}

div .card{
  margin: 0.5rem;
  padding: 0.5rem;
  width: 20rem;
  display: inline-flex;
  align-items: center;
}

.card .btnCardItems{
    background-color: #E4D3B4;
    display: inline-block;
}

.show{
  display: block;
}

.hide{
  display: none;
}

/*btns*/
.btn.btn-primary{
  background-color: #CAC1EB;
  color: #5f4727;
  border-color: #a599d4;
}

.btn.btn-primary:hover{
  background-color: #a599d4;
  color: #AD9371;
  border-color: #CAC1EB;
}