.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  background-color: #D2E1EE;
  padding-bottom: 3rem;
}

.Nav{
  background-color: #E4D3B4 ;
}

.Nav a{
  font-family: 'Amatic SC', cursive;
  font-size: larger;
  color: #AD9371;
}

.Nav a:hover{
  color: #5f4727;
}

/*items*/

.ItemListContainer{
  padding-top: 1rem;
}

.card{
  margin: 0.5rem;
  padding: 0.5rem;
  width: 30%;
}

.card .btnCardItems{
    background-color: #CAC1EB;
    display: block;
    margin-right: 30%;
    margin-left: 30%;
}